<h1>Deposits</h1>
<% @deposits.each do |deposit| %>
    <div class="interest" style="background:#ddd; borderradius:20px;margin: 10px; padding: 10px">
      <ul class="details">
        <li class="BankName">
          Bank Name: <%= deposit.bank_name %>
        </li>
        <li class="BankPhone">
          Bank Contact Phone: <%= deposit.phone_number %>
        </li>
        <li class="AccountNumber">
          Account Number: <%= deposit.account_number %>
        </li>
        <li class="AccountType">
          Account Type: <%= deposit.fixed_income_account_type %>
        </li>
        <li class="Amount">
          Amount: <%= deposit.amount %>
        </li>
        <li class="StartDate">
          Start Date: <%= deposit.start_date %>
        </li>
        <li class="Duration">
          Duration: <%= deposit.term_in_days/365 %> Year
        </li>
        <li class="APR">
          APR: <%= deposit.apr %> %
        </li>
        <li class="CompoundingTimes">
          Compounding Times : <%= deposit.compounding_times %>
        </li>
        <% if deposit.apy.present? %>
            <li class="APY">
              APY: <%= deposit.apy %> %
            </li>
        <% end %>
        <li class="Comments">
          Comment: <%= deposit.comment %>
        </li>
      </ul>

      <ul class="actions" style="margin:20px;">
        <% if deposit.under_expiry_alert_period? %>
          <%= link_to 'Confirm Correct Info (Reached expiry period)', "confirm",  :style => "color: #006b95; margin-bottom: 10px;", :class => 'btn' %> <br/>
        <% end %>
        <%= link_to 'Edit', edit_deposit_path(deposit), :style => "color: #006b95;" %>
        <%= link_to 'Destroy', deposit_path(deposit), :method => :delete, :confirm => 'Are you sure?',  :style => "color: #dd0000;" %>

      </ul>
    </div>
<% end %>


<%= link_to 'New Deposit', new_deposit_path %>
