<h1>Deposits</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @deposits.each do |deposit| %>
      <tr>
        <td><%= deposit.id %></td>
        <td><%= deposit.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_deposit_path(deposit), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', deposit_path(deposit), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_deposit_path, :class => 'btn btn-primary' %>
